@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body {
  background-color: #575555;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: grey;
  border: 1px solid black;
  border-radius: 0.5rem;
}

@media (min-width: 1025px) {
  .wrapper {
    padding: 0.7rem;
    max-width: 750px;
  }
}

.wrapper .header {
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

@media (min-width: 1025px) {
  .wrapper .header {
    font-size: 2rem;
  }
}

.wrapper .information {
  visibility: hidden;
  color: white;
  padding: 0.5rem;
  font-size: 0.6rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

@media (min-width: 1025px) {
  .wrapper .information {
    padding: 0.7rem;
    margin: 0.7rem 0;
    font-size: 0.8rem;
  }
}

.wrapper .form {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

@media (min-width: 1025px) {
  .wrapper .form {
    padding: 0.7rem;
  }
}

.wrapper .form__label, .wrapper .form__input, .wrapper .form__button {
  width: 100%;
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.6rem;
}

@media (min-width: 1025px) {
  .wrapper .form__label, .wrapper .form__input, .wrapper .form__button {
    padding: 0.7rem;
    font-size: 0.8rem;
  }
}

.wrapper .form__input {
  border: none;
}

.wrapper .form__button {
  background-color: transparent;
  border: 1px solid black;
  text-transform: uppercase;
  margin-top: 0.7rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (min-width: 1025px) {
  .wrapper .form__button {
    margin-top: 2rem;
  }
}

.wrapper .form__button:hover {
  background-color: black;
  color: white;
}

.wrapper .result {
  margin: 0.5rem 0;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

@media (min-width: 1025px) {
  .wrapper .result {
    margin: 0.7rem 0;
  }
}

.wrapper .result .table {
  width: 100%;
}

.wrapper .result .table__row {
  text-align: left;
  font-size: 0.6rem;
}

@media (min-width: 1025px) {
  .wrapper .result .table__row {
    font-size: 0.8rem;
  }
}

.wrapper .result .table__cell {
  font-size: 0.6rem;
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

@media (min-width: 1025px) {
  .wrapper .result .table__cell {
    font-size: 0.8rem;
    padding: 0.7rem;
  }
}

.wrapper .result .table__cell--title {
  width: 40%;
}

.wrapper .result .table__cell--author {
  width: 40%;
}

.wrapper .result .table__cell--isbn {
  width: 10%;
}

.wrapper .result .table__cell--btn {
  width: 10%;
}

.wrapper .result .table__button {
  border: 1px solid black;
  background-color: transparent;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (min-width: 1025px) {
  .wrapper .result .table__button {
    padding: 0.7rem;
    font-size: 0.6rem;
  }
}

.wrapper .result .table__button:hover {
  background-color: white;
  color: black;
}
/*# sourceMappingURL=style.css.map */