$border-radius-small: 0.5rem;
$border-radius-large: 0.7rem;

$m-small: 0.5rem;
$m-large: 0.7rem;
$m-very-large: 2rem;

$p-small: 0.5rem;
$p-large: 0.7rem;

$fs-small: 0.6rem;
$fs-large: 0.8rem;

$fs-header-small: 1.4rem;
$fs-header-large: 2rem;

$media-desktop: 1025px;